language: csharp
solution: xake.sln
env: VER=$(if [[ "${TRAVIS_TAG:0:1}" == "v" ]]; then echo ${TRAVIS_TAG:1}; else echo 0.0.0; fi;)
install:
- mono .paket/paket.bootstrapper.exe
- mono .paket/paket.exe install
script:
- echo "module Xake.Const [<Literal>]  let internal Version = \"$VER.$TRAVIS_BUILD_NUMBER\"" > ./core/VersionInfo.fs
- fsharpi build.fsx -- build test
- fsharpi build.fsx -- nuget-pack -ll Diag
deploy:
  - provider: releases
    file:
    - "./bin/Xake.Core.dll"
    - "./bin/Xake.Core.XML"
    skip_cleanup: true
    on:
      tags: true
      condition: "${TRAVIS_TAG:0:1} = v"
    api-key:
      secure: GcNd0L3Kdyv9vTeKqDXHAfxQne8a6guWQYCiiEvQWtLwNss4foV2dD6PQ8W+J7l+ay8wLC+P3ZKxO0GiKbn5cglXTbBI9WlrHk+nrSQ/JWmaqqjZhGUlAvlek0Ko4walGfRQJPIaZ9pbnX4L4Mj+jrwQWrI1IyzZXbSBL2i2Tgo=
  - provider: script
    script: fsharpi build.fsx -- nuget-push
    skip_cleanup: true
    on:
      tags: true
      condition: "${TRAVIS_TAG:0:1} = v"
