source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core ~> 4.1 redirects: force
nuget NUnit.Runners
nuget nunit

clitool dotnet-fake
clitool Microsoft.DotNet.Watcher.Tools

group tools
    source https://www.nuget.org/api/v2/

    nuget Nuget.CommandLine
    nuget Xake ~> 0.13.0
