source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0, net46

nuget FSharp.Core ~> 4.1 redirects: force
nuget Microsoft.NET.Test.Sdk
nuget nunit
nuget NUnit.Runners
nuget NUnit3TestAdapter

clitool Microsoft.DotNet.Watcher.Tools
